body{
  background-color: #25395C;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

input, button {
  color: #fff;
  width: 100%;
  font-size: 1.5em;
  background-color: #1f1d1d;
  text-align: center;
  border: none;
}

input {
  box-shadow: inset 0 0 1em 0em #000;
  border: 0.1em solid #000;
  border-radius: 10px;
}

i {
  cursor: pointer;
}

a {
  color: #00e8ff;
}

.app-title{
  margin-top: 1%;
}

.circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 0.1em solid #fff;
  box-shadow: inset 0 0 10em 0em #00e8ff;
  width: 20em;
  height: 20em;
}

.spinner {
  position: relative;
  top: 9.8em;
  border-top: 0.1em solid #fff;
  box-shadow: 0 0.3em 0.7em #00e8ff;
  width: 9.9em;
  transform: rotate(90deg);
  transform-origin: top right;
}

.timer {
  margin-bottom: -1%;
}

.timer-controls{
  margin-top: 70%;
}

.timer-controls i {
  transition: display 1s;
  color: rgba(0,255,255,0.75);
}

.radar {
  animation-name: radar;
  animation-timing-function: linear;
}

.animate-normal {
  animation-direction: normal;
}

.animate-reverse {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.state.audio {
  color: rgba(0,0,0,0);
  transition: color 2s;
}

#btnStop, .fa-volume-off { display: none;}

@keyframes radar {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

.widerThing {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-color: #142034;
  }

  input, button {
    width:50%;
  }

  .controls{
    font-size: 1.75em;
  }

  .timer {
    font-size: 3em;
    margin-bottom: -1%;
  }

  .container-fluid {
    padding-top: 1%;
    background-color: #25395C;
    width: 75%;
    height: 1000px;
    box-shadow: 0em 1em 10em #000;
  }
}
