body{
  background-color: #000;
  color: #fff;
}

input, button {
  color: #000;
}

/*.my-loader {
  margin: 0 auto;
  border-radius: 50%;
  border-left: 0.4em solid rgba(0, 232, 255, 0.4);
  border-right: 0.4em solid rgba(0, 232, 255, 0.4);
  border-bottom: 0.4em solid rgba(0, 232, 255, 0.4);
  border-top: 0.4em solid #fff;
  box-shadow: 0 0 0.5em #0cf;
  width: 8em;
  height: 8em;
  transform: rotate(0deg);
  animation: spin 0.5s infinite linear
}*/

.my-loader {
  margin: 0 auto;
  border-radius: 50%;
  border: 0.1em solid #fff;
  box-shadow: 0 0 0.3em #00e8ff;
  width: 10em;
  height: 10em;
}

.spinner {
  position: relative;
  top: 4.9em;
  right: 0.1em;
  border-top: 0.1em solid #fff;
  animation: radar linear;
  box-shadow: 0 0.3em 0.7em #00e8ff;
  width: 5em;
  transform: rotate(90deg);
  transform-origin: top right;
  animation-play-state: paused;
}

@keyframes radar {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
  /*0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
    transform-origin: top right;
  }*/
}
