html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  transition: background 2s, color 2s;
  font-family: "Lato", sans-serif;
}

.loading-content,
.weather-content {
  margin-top: 20%;
}

.loading-content h4, .loading-content p, .location-error-content h4, .location-error-content p {
  text-shadow: 0 0em 0.7em #00e8ff;
}

.my-loader {
  margin: 0 auto;
  border-radius: 50%;
  border: 0.1em solid #fff;
  box-shadow: 0 0 0.3em #00e8ff;
  width: 10em;
  height: 10em;
}

.spinner {
  position: relative;
  top: 4.9em;
  right: 0.1em;
  border-top: 0.1em solid #fff;
  transform: rotate(90deg);
  animation: radar 5.1s infinite linear;
  box-shadow: 0 0.3em 0.7em #00e8ff;
  width: 5em;
}

@keyframes radar {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform-origin: top right;
  }
}
.weather-content, .location-error-content {
  display: none;
  text-shadow: 0 0.25em 1em #4c4c4c;
}

.city {
  font-family: "Oswald", sans-serif;
}

.temp {
  font-family: "Oswald", sans-serif;
}

.temp-area h3 {
  display: inline-block;
}

.btn-temp {
  cursor: pointer;
}

.btn-temp::hover {
  color: #000;
}

.wx-sunny {
  background: #3f9eee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3f9eee 0%, #53cbf1 84%, #87e0fd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3f9eee 0%, #53cbf1 84%, #87e0fd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f9eee 0%, #53cbf1 84%, #87e0fd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-color: #3F9EEE;
  color: #fff;
}

.wx-partlyCloudy {
  background: url("../img/partly_cloudy.jpg");
  color: #fff;
}

.wx-cloudy {
  background: url("../img/cloudy.jpg");
  color: #fff;
}

.wx-rain {
  background: url("../img/rain.jpg");
  color: #efefef;
}

.wx-snow {
  background: url("../img/snow.jpg");
  color: #fff;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.about {
  margin-bottom: 100px;
}

.preload {
  background: url("../img/partly_cloudy.jpg"), url("../img/cloudy.jpg"), url("../img/rain.jpg"), url("../img/snow.jpg");
}
