@use 'partials/_mixins';

:root {
	--font-stack: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
	--color-moon-light: #ddd;
	--color-moon-earthshine: #434DCC;
	--color-moon-darkside: #1f235d;
	--color-linked-in: #0077B5;
	--color-font-cta: #0cf;
	--color-font-base: #fff;
	--color-font-base-inverse: #4c4c4c;
	--color-surface-base: #fff;
	--color-surface-base-darker: #efefef;
	--color-surface-base-mid: #B3B3B3;
	--color-surface-base-darkest: #4c4c4c;
}

a {
	color: var(--color-font-base-inverse);

	&:hover {
		color: var(--color-font-cta);
		text-decoration: none;
	}
}

section {
	margin-bottom: 1%;
	border-bottom: 1px solid var(--color-surface-base-darker);
}

body {
	background-color: var(--color-surface-base-darker);
	/*padding top because navbar is fixed position and overlaps content*/
	padding-top: 80px;
}

.active {
	border-bottom: 4px solid var(--color-surface-base-darkest);
}

.outline {
	display: none;
}

.sectionHeader {
	margin-bottom: 1%;
	background-color: var(--color-surface-base-mid);
	color: var(--color-font-base);
	padding: 1%;
	text-align: center;
}

.elem-center {
	margin-left: 0 auto;
}

.moon {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	vertical-align: bottom;
	@include mixins.radial-gradient(var(--color-moon-earthshine), var(--color-moon-darkside));
	transition: border 2s ease;
	border-right: 18px solid var(--color-moon-light);
	box-shadow: 0px 0px 0px 5px var(--color-surface-base-darker);
}

.before-half {
	@include mixins.radial-gradient(var(--color-moon-earthshine), var(--color-moon-darkside));
	border-right-color: var(--color-moon-light);
	border-right-style: solid;
	border-left-style: none;
}

.after-half {
	@include mixins.radial-gradient(var(--color-moon-light), #ccc);
	border-left-color: var(--color-moon-earthshine);
	border-left-style: solid;
	border-right-style: none;
}

.my-nav-style {
	background-color: var(--color-surface-base);
	border-style: none;

	a {
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 0.05em;
	}

	box-shadow: 0 0 10px 1px var(--color-surface-base-darkest);
}

.my-sub-nav-style {
	text-align: center;
	background: none;
	box-shadow: none;
	border: none;

	a {
		font-size: 18px;
	}
}

.my-navbar-inline {
	text-align: center;

	li {
		display: inline-block;
	}
}

.navbar-right {
	margin-top: 1%;
	margin-right: 1%;
}

.navbar-header {
	margin-bottom: 1%;
	text-align: center;
}

.navbar-brand {
	float: none;
}

.my-main-banner {
	font-family: var(--font-stack);
	color: var(--color-font-base-inverse);
	border-bottom: 2px solid #ccc;

	h1 {
		display: inline-block;
		vertical-align: middle;
		font-weight: 200;
	}

	button.navbar-toggle {
		margin-top: 4%;
	}
}

.txt-over-img {
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 100%;
	padding: 5%;
	color: var(--color-font-base);

	a {
		color: var(--color-font-cta);

		&:hover {
			color: var(--color-font-base);
		}
	}
}

.my-form input {
	width: 100%;
	height: 50px;
	font-size: 18px;
	margin-bottom: 10px;
	padding: 1%;
	border: none;
}

.my-form button {
	margin: 0 auto;
	padding: 10px;
	font-size: 20px;
}

.back-to-top-wrapper {
	text-align: center;
	cursor: pointer;
	margin-top: 8%;
	margin-bottom: 1%;

	span {
		margin-left: 1%;
		font-size: 24px;
	}
}

.back-to-top {
	background-color: var(--color-surface-base-darkest);
	color: var(--color-font-base);
	padding: 0.5%;
	font-size: 20px;
	border-radius: 15%;
	margin-left: auto;
	margin-right: auto;
}

.list-social-media {
	list-style: none;
	text-align: center;
	padding-left: 0;

	li {
		display: inline;
		margin-right: 1%;
	}

	i {
		line-height: 50px;
	}
}

.btn-round {
	border-radius: 50%;
	color: var(--color-font-base);
	width: 50px;
	height: 50px;
}

.my-text-shadow {
	text-shadow: 1px 1px var(--color-surface-base-darkest);
}

.top-target {
	scroll-margin: 250px;
}

.fixed-background {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: right;
}

.fa-flickr {
	background-color: #000;
}

.fa-linkedin {
	background-color: var(--color-linked-in)
}

.fa-github {
	background-color: var(--color-surface-base);
	color: #000;
}

.media-label {
	position: relative;
	background-color: var(--color-surface-base-darkest);
	top: 11px;
	padding: 1%;
	font-size: 18px;
	color: var(--color-font-base);
}

#about {
	background-image: url('../img/matherMe_small.jpg');
}

#portfolioNav {
	label {
		margin-left: 2%;
		cursor: pointer;
	}

	.glyphicon {
		font-size: 24px;
		vertical-align: sub;
	}
}

#webPortfolio {
	padding: 0% 2% 2% 2%;
}

ul.my-portfolio__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	padding: 0;

	li {
		list-style: none;
		// padding: 1rem;
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

.portfolio-tabs__container {
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: auto 1fr;


	details {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 1 / -1;
		grid-row: 1 / span 2;
	}

	details::details-content {
		grid-row: 2;
		/* position in the second row */
		grid-column: 1 / -1;
		/* cover all three columns */
		padding: 1rem;
	}

	details:not([open])::details-content {
		display: none;
	}

	summary {
		grid-row: 1;
		/* First subgrid row */
		display: grid;
		padding: 1rem;
		/* Some breathing room */

		cursor: pointer;
		/* Update the cursor when hovered */
	}

	/* Style the <summary> element when <details> is [open] */
	details[open] summary {
		background-color: #0cf;
		color: #fff;
	}

	summary {
		grid-column: var(--tab-n) / span 1;
	}

	summary {
		z-index: 1;
	}
}

@media (min-width: 1025px) {

	.portfolio-tabs__container {
		column-gap: 1rem;
		width: 80vw;
		margin: 0 auto;
	}

	// iOS safari can't handle the bg-attachment fixed, so enable for large screens
	.fixed-background {
		background-attachment: fixed;
		height: 700px;
	}

	#about {
		background-image: url('../img/matherMe.jpg');
	}

	ul.my-portfolio__list {
		flex-direction: row;
		flex-wrap: wrap;

		li {
			width: 48%;
		}
	}

}

//edge case for super thin screens
@media (max-width: 374px) {
	.moon {
		width: 43px;
		height: 43px;
		margin-bottom: 1%;
	}

	.my-main-banner h1 {
		font-size: 26px;
	}

	#mainNavSmall a,
	#portfolioNav label {
		font-size: 15px;
	}
}

@media print {

	.my-nav-style,
	.back-to-top-wrapper,
	.my-form {
		display: none;
	}

	.fixed-background {
		height: auto;
	}

	.txt-over-img {
		padding: 0;
	}

	#about {
		background-image: none;
	}
}

// Hide unfinished, content weak sections
li .fa-github,
.my-form {
	display: none !important;
}