a {
  color: #71f2ff;
}
body {
  background-color: #858585;
}
input:disabled {color: #000 !important;}
.container-fluid {
  padding: 0;
}
table.Calculator {
  margin-top: 10%;
}
.Calculator{
	background-color: #353535;
	margin: 0 auto;
	width: 100%;
  height: 368px;
	border: 2px solid #1d1d1d;
  border-radius: 5px;
	font-family: Arial, sans-serif;
	border-spacing: 10px 10px;
	box-shadow: 15px 7px 79px rgba(0, 0, 0, 0.65);
  border-collapse: separate;
}
.Calculator tr{border: 1px solid #dfdfdf;}
.Calculator td{
  vertical-align: middle;
  font-size: 24px;
  padding: 5%;
  height: 5%;
  text-align: center;
  margin: 5%;
  border-radius: 5px;
}
.Display{
  white-space: nowrap;
  background-image:linear-gradient(to top, #e3f4bd, #c7d4a5, #f3ffda);
	box-shadow: inset 0 0 13px #747d61;
	border: 1px solid #f6ffe2;
	width: 100%;
	height: 70px;
	background-color: #e3f4bd;
	-webkit-user-select: none;
	overflow: none;
}
.Display input{
  color: #000!important;
  font-size:38px;
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  width: 100%;
  background: transparent;
  height: 70px;
  border: 0;
  text-align: right;
}

/*------------ Grey Buttons ---------------*/
.SubBtn{
    background-image:linear-gradient(to top, #3c3c3c, darkGray);
		font-size: 18.7px;
		cursor: pointer;
		width: 60px;
		letter-spacing: 1px;
		color: #fff;
		text-shadow: #000 0px -1px 0px;
		box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-webkit-user-select: none;
	}
.SubBtn:active{
    background-image:linear-gradient(to top, darkGray, #3c3c3c);
		border-top: none;
		box-shadow: inset 0 0 6px #000;
		text-shadow: #000 0px 1px 0px;
	}

/*------------ Black Buttons ----------------*/
.SubBtn2{
    background-image:linear-gradient(to top, #000, #2b2b2b);
		font-size: 18.7px;
		cursor: pointer;
		letter-spacing: 1px;
		color: #fff;
		text-shadow: #000 0px -1px 0px;
		box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-webkit-user-select: none;
	}
.SubBtn2:active{
    background-image:linear-gradient(to top, #171717, #2b2b2b);
		border-top: none;
		box-shadow: inset 0 0 13px #000;
		text-shadow: #000 0px 1px 0px;
}

/*------------ Orange Buttons --------------*/
.PrimaryBtn{
    background-image:linear-gradient(to top, #e36714, #fe9c5b);
		cursor: pointer;
		letter-spacing: 1px;
		color: #fff;
		text-shadow: #781201 0px -1px 0px;
		box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-moz-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
		-webkit-box-shadow: -1px 0px 8px rgba(0, 0, 0, 0.99);
	}
.PrimaryBtn td{vertical-align: bottom}
.PrimaryBtn:active{
    background-image:linear-gradient(to top, #fe9c5b, #e36714);
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: inset 0 0 13px #781201;
		text-shadow: #781201 0px 1px 0px;
	}

/*------------- Button Gloss -------------*/
.TopGlint{border-top: 1px solid #d1d1d1;}

/*------------- Desktops -------------*/
@media (min-width: 1024px){
  table.Calculator {
    margin-top: 10%!important;
  }
  .Calculator {
    width: 33%;
    height: 410px!important;
  }
  .Calculator td {
    font-size: 30px;
  }
}

/*------------- Smartphone Landscape Mode -------------*/
@media (min-width: 568px){
  .container-fluid {
    padding: 0;
  }
  table.Calculator {
    margin-top: 0;
  }
  .Calculator {
    height: 100%;
  }
  .Calculator td {
    font-size: 24px;
    padding: 1%;
  }
}

#displayNumbers{overflow: none; }
